# =======================
# Python files
# =======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# =======================
# Virtual environments
# =======================
venv/
env/
.venv/

# =======================
# Airflow specific
# =======================
airflow/logs/
airflow/tmp/
airflow/__pycache__/
airflow/airflow.cfg
airflow/airflow.db

# =======================
# Docker
# =======================
*.env
docker-compose.override.yml
**/Dockerfile
**/docker-compose*.yaml

# =======================
# OS/IDE
# =======================
.DS_Store
Thumbs.db
.vscode/
.idea/
